@import url('../fonts/inter.css');

body{font-family:Inter,sans-serif;font-size:16px;font-weight:400!important;color:#383838}
*{font-family:Inter,sans-serif;font-weight:400}
.font-500{font-weight:500!important}
.form-control{border:1px solid #656565}
.select2-container{z-index:9999}
header{background:#0073ae;min-height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
@media (max-width:600px){
header{background:#f2faff}
}
.terms-con-font-cls{color:#1a75ac}
.carousel-indicators li{background-color:#2876a9;opacity:1}
.carousel-indicators .active{background-color:#e41225;opacity:1}
.head-main-tel{color:#fff;font-weight:700;text-decoration:none}
.head-main-tel:hover{color:#dfce9d;text-decoration:none}
.headerno-cls{font-size:30px}
.main-all-heading{font-size:32px;font-weight:500;color:#212121;line-height:36px}
.main-all-heading span{text-transform:lowercase;font-weight:600;font-size:26px}
@media (max-width:768px){
.main-all-heading{text-align:center}
}
.owl-carousel .owl-item img{width:auto}
.owl-carousel .owl-dots{display:none}


/*==========================================*/
/* banner section css*/
/*==========================================*/

.banner-section-cls{background-color:#f1faff}
.banner-up-para{font-size:40px;margin-bottom:0;font-weight:500}
.main-banner-heading-n{font-size:40px;font-weight:500;color:#0074ad}
.main-banner-heading-n span{font-weight:700;color:#0074ad}
.banner-sub-heding-n{font-size:28px;font-weight:400;margin-bottom:0}
.banner-list{padding-right:0;font-size:21px;color:#30292b;padding-inline-start:25px}
hr.bannerhr{width:100px;border:3px solid #0074ad}
.banner-main-icon-heading{padding-top:10px;padding-left:15px;font-size:24px;line-height:30px;color:#212121;font-weight:500}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-35px}
#carouselExampleIndicators .carousel-control-next,.carousel-control-prev{display:none!important}
#carouselExampleIndicators .carousel-indicators{z-index:5}
@media (max-width:1600px){
.banner-up-para{font-size:30px;margin-bottom:0;font-weight:500}
.main-banner-heading-n{font-size:38px;font-weight:500;color:#0074ad}
.banner-sub-heding-n{font-size:26px;font-weight:400}
.banner-list{padding-right:0;font-size:18px;color:#30292b;padding-inline-start:25px}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-25px;font-size:16px}
}
@media (max-width:1500px){
.main-banner-heading-n{font-size:35px;font-weight:500;color:#0074ad}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-25px;font-size:15px}
}
@media (max-width:1400px){
.main-banner-heading-n{font-size:35px;font-weight:500;color:#0074ad}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-25px;font-size:14px}
}
@media (max-width:1200px){
.banner-up-para{font-size:24px;margin-bottom:0;font-weight:500}
.main-banner-heading-n{font-size:30px;font-weight:500;color:#0074ad}
.banner-sub-heding-n{font-size:24px;font-weight:400}
.banner-list{padding-right:0;font-size:16px;color:#30292b;padding-inline-start:25px}
.mob-cls-ban-icon{width:55px;height:55px}
.banner-main-icon-heading{padding-top:12px;padding-left:12px;font-size:16px;line-height:25px;color:#212121;font-weight:500}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-25px;font-size:12px}
}
@media (max-width:1024px){
.main-banner-heading-n{font-size:24px;font-weight:500;color:#0074ad}
.banner-sub-heding-n{font-size:20px;font-weight:400}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-20px}
}
@media (max-width:992px){
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-15px;font-size:12px}
}
@media (max-width:820px){
.banner-up-para{font-size:20px;margin-bottom:0;font-weight:500}
.main-banner-heading-n{font-size:26px;font-weight:500;color:#0074ad}
.banner-sub-heding-n{font-size:20px;font-weight:400}
.banner-list{padding-right:0;font-size:14px;color:#30292b;padding-inline-start:25px}
hr.bannerhr{width:80px;border:2px solid #0074ad}
}
@media (max-width:600px){
.banner-up-para{font-size:25px;margin-bottom:0;font-weight:500}
.main-banner-heading-n{font-size:32px;line-height:40px;font-weight:500;color:#0074ad}
.main-banner-heading-n span{font-weight:700;color:#0074ad}
.banner-sub-heding-n{font-size:24px;font-weight:400}
.banner-main-icon-heading{padding-top:10px;padding-left:15px;font-size:18px;line-height:25px;color:#212121;font-weight:500}
.banner-list{padding-right:0;font-size:18px;color:#30292b;padding-inline-start:25px}
.mob-cls-ban-icon{width:70px;height:70px}
.blue-strip-offer-section{text-align:right;color:#fff;margin-top:-12px;font-size:14px}
}
@media (max-width:430px){
.main-banner-heading-n{font-size:28px;line-height: normal;font-weight:500;color:#0074ad}
}
@media (max-width:390px){
.main-banner-heading-n{font-size:28px;line-height: normal;font-weight:500;color:#0074ad}
.banner-sub-heding-n{font-size:22px;font-weight:400}
}
@media (max-width:360px){
.main-banner-heading-n{font-size:28px;line-height:35px;font-weight:500;color:#0074ad}
}
@media (max-width:300px){
.banner-main-icon-heading{padding-top:10px;padding-left:15px;font-size:14px;line-height:22px;color:#212121;font-weight:500}
.mob-cls-ban-icon{width:50px;height:50px}
.banner-up-para{font-size:18px;margin-bottom:0;font-weight:500}
.main-banner-heading-n{font-size:28px;font-weight:400;color:#0074ad}
.banner-sub-heding-n{font-size:18px;font-weight:400}
.banner-list{padding-right:0;font-size:14px;color:#30292b;padding-inline-start:25px}
}
@media screen and (max-width:1920px) and (min-width:1024px){
#my_banner_Video{width:470px}
}
@media screen and (max-width:1024px) and (min-width:820px){
#my_banner_Video{width:430px}
}
@media screen and (max-width:768px){
#my_banner_Video{width:400px}
}
@media screen and (max-width:600px){
#my_banner_Video{width:100%}
}

/*==========================================*/
/* offer-blue section css*/
/*==========================================*/

.offer-background-sec{background:#1a75ac}
.blue_patch_iconcls{box-shadow:0 2px 2px rgb(53 153 215);border-radius:50%;margin-top:10px;margin-bottom:10px}
.offer-head-main{padding-top:15px;padding-left:10px;color:#fff;font-size:18px;line-height:24px}
@media (max-width:1600px){
.offer-head-main{padding-top:15px;color:#fff;font-size:18px;line-height:24px}
}
@media (max-width:1200px){
.offer-head-main{padding-top:15px;color:#fff;font-size:16px;line-height:21px}
}
@media (max-width:1024px){
.offer-head-main{padding-top:15px;color:#fff;font-size:14px;line-height:18px}
}
@media (max-width:600px){
.offer-head-main{padding-top:15px;color:#fff;font-size:18px;line-height:25px}
.offer-background-sec{padding-top:10px;padding-bottom:10px}
}

/*==========================================*/
/* Did you know css*/
/*==========================================*/

.did_you_know_para{display:none}
@media (max-width:577px){
.did_you_know_para{display:block;margin-top:15px;margin-bottom:0;font-size:21px;color:#212121;line-height:normal}
}

/*==========================================*/
/* Testimonials Before-after css*/
/*==========================================*/

.owl-carousel{z-index:0}
.screenshot_slider .owl-item .item{transform:translate3d(0,0,0);padding-bottom:20px;padding-top:20px}
.screenshot_slider .owl-item .item img{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:scale(.6);-ms-transform:scale(.6);transform:scale(.6);opacity:.4}
.screenshot_slider .owl-item.center .item img{-webkit-transform:scale(1.15);-ms-transform:scale(1.15);transform:scale(1.15);opacity:1}
@media (max-width:1024px){
.screenshot_slider .owl-item.center .item img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);opacity:1}
}
@media (max-width:768px){
.screenshot_slider .owl-item.center .item img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);opacity:1}
}
.screenshot_slider .owl-nav{text-align:right;top:-70px;position:absolute;right:30px}
.screenshot_slider .owl-nav button{font-size:30px!important;margin:0 7px;color:#000!important}
@media (max-width:1024px){
.screenshot_slider .owl-item .item{transform:translate3d(0,0,0);padding:30px 30px 20px}
.screenshot_slider .owl-nav{text-align:center!important;margin-top:15px;top:0;right:0;position:relative}
.screenshot_slider .owl-nav button{font-size:30px!important;margin:0 10px;color:#000!important}
}

/*==========================================*/
/* Testimonials css*/
/*==========================================*/

.test-v-cls{bottom:10px;position:absolute;padding:5px 5px}
.resultsImg{position:absolute;bottom:210px;right:10px}
.resultsImg img{width:70px!important}
.test-v-para{font-size:16px;color:#fff;font-weight:400;margin-bottom:0}
.test-v-subheading{color:#b99863;font-size:18px;font-weight:600;margin-bottom:0}
.img-test-before-after-v{position:absolute;top:10px;right:10px}
@media screen and (max-width:600px){
.resultsImg{position:absolute;bottom:360px;right:20px}
.resultsImg img{width:100px}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px;height:90%}
}
@media screen and (max-width:400px){
.resultsImg{position:absolute;bottom:290px;right:20px}
.resultsImg img{width:90px}
}
.text-play-btn-img{width:30px!important;margin-right:10px!important}
.popup-vimeo{display:ruby;color:#fff;font-weight:500;font-size:16px}
.popup-vimeo:hover{text-decoration:none}
#testimonilas_slider .owl-item .item img{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8);opacity:1}
#testimonilas_slider .owl-item.center .item img{-webkit-transform:scale(1.15);-ms-transform:scale(1.15);transform:scale(1.15);opacity:1}
#testimonilas_slider .owl-nav{text-align:right;top:-70px;position:absolute;right:30px}
#testimonilas_slider .owl-nav button{font-size:30px!important;margin:0 7px;color:#000!important}
@media (max-width:1024px){
#testimonilas_slider .owl-item .item{transform:translate3d(0,0,0);padding:30px 30px 20px}
#testimonilas_slider .owl-nav{text-align:center!important;margin-top:15px;top:0;right:0;position:relative}
#testimonilas_slider .owl-nav button{font-size:30px!important;margin:0 10px;color:#000!important}
}

/*==========================================*/
/* types of alopecia section css*/
/*==========================================*/

.types_alopecia_sec{background-color:#f4fbff}
.types_heding_main{margin-bottom:0;font-size:21px;color:#212121;font-weight:500}
.types_para_sce{font-size:16px;font-weight:400;color:#212121}

/*==========================================*/
/* Our Process css*/
/*==========================================*/

.our_process_box{height:410px;padding:25px 20px;text-align:center;border-radius:20px;border:1px solid #bdbdbd}
.main_our_process_heading{margin-top:20px;margin-bottom:5px;font-size:21px;color:#212121;font-weight:500;line-height:24px}
#process_slider .item{margin-right:10px;margin-left:10px;width:31%;display:inline-flex}
#process_slider .owl-item img{display:inline!important}
@media (max-width:1024px){
#process_slider .owl-item .item{transform:translate3d(0,0,0);padding:0 20px 20px;width:99%}
#process_slider .owl-nav{text-align:center!important;margin-top:0;top:0;right:0;position:relative;display:block}
#process_slider .owl-nav button{font-size:30px!important;margin:0 10px;color:#000!important}
#process_slider .item{margin-right:10px;margin-left:10px;width:30%;display:inline-flex}
.our_process_box{height:475px}
}
@media (max-width:992px){
#process_slider{display:block}
.Process_container_dekstop{display:none}
}
@media (max-width:600px){
#process_slider .item{width:100%;display:inline-flex;margin-right:0;margin-left:0}
.our_process_box{height:420px}
}

/*==========================================*/
/* key benefits css*/
/*==========================================*/

.homeopathy-bg-img{background:url(../images/key-bg-sec.webp) left bottom no-repeat;background-size:cover}
.key-benifit-content-box{z-index:1;padding:50px;background-color:#f4fbff}
.key-para{margin-bottom:0;padding-left:15px;font-size:20px;font-weight:500}
.key-icon-border{padding:10px;background-color:#f4fbff;background-clip:padding-box;border:solid 3px transparent;border-radius:5em;display:flex}
.key-icon-border:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-2px;border-radius:inherit;background:linear-gradient(90deg,#3296d2 0,#3296d2 25%,#a6dcfd 50%,rgb(244 251 255) 75%,rgb(244 251 255) 100%)}
@media screen and (max-width:600px){
.key-icon-border{padding:5px}
.key-benifit-content-box{z-index:1;padding:60px 30px;background-color:#f4fbff}
.key-para{font-size:18px}
.key-icon-border img{width:15%}
}

/*==========================================*/
/* Circle css*/
/*==========================================*/

.content_circle_clider_box{height:100px}
.circle_slider .owl-item{transform-origin:50% 400%}
.circle_slider .owl-item:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;pointer-events:none;background-color:#000;transition:opacity .9s cubic-bezier(.7, 0, .3, 1)}
.circle_slider_heding{font-size:24px;font-weight:600;color:#0073ae;margin-bottom:10px}
.circle_slider_para{font-size:16px;line-height:normal;color:#212121}
.circle_slider .owl-nav{display:block}
.circle_slider .owl-nav .owl-prev{top:43%;position:absolute;left:-10px;border-radius:50%}
.circle_slider .owl-nav .owl-next{top:43%;position:absolute;right:-10px;border-radius:50%}
.circle_slider .owl-item .item{text-align:center}
.circle_slider .owl-item img{margin:0 auto;width:85%}
@media screen and (max-width:1024px){
.circle_slider .owl-item img{margin:0 auto;width:95%}
}
@media screen and (max-width:912px){
.circle_slider .owl-item img{margin:0 auto;width:100%}
}
@media screen and (max-width:600px){
.content_circle_clider_box{height:130px}
.circle_slider .owl-nav .owl-prev{top:30%;position:absolute;left:-10px;border-radius:50%}
.circle_slider .owl-nav .owl-next{top:30%;position:absolute;right:-10px;border-radius:50%}
}


/*==========================================*/
/* Circle Effect css*/
/*==========================================*/

.fadeUpIn{animation:fadeUp .8s forwards ease-in}
@keyframes fadeUp{
from{opacity:0;transform:translateY(0)}
to{opacity:1;transform:translateY(0)}
}
.fxCliffDiving .owl-item{transform-origin:50% 50%}
.fxCliffDiving .owl-item:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;pointer-events:none;background-color:#000;transition:opacity .9s cubic-bezier(.7, 0, .3, 1)}
.fxCliffDiving .owl-item.fxCliffDivingInNext,.fxCliffDiving .owl-item.fxCliffDivingInPrev{opacity:1}
@keyframes rotateOutCircLeft{
to{transform:rotate(-30deg) translateX(-100%)}
}
@keyframes rotateInCircRight{
from{transform:rotate(30deg) translateX(100%)}
to{transform:rotate(0) translateX(0)}
}
@keyframes rotateOutCircRight{
to{transform:rotate(30deg) translateX(100%)}
}
@keyframes rotateInCircLeft{
from{transform:rotate(-30deg) translateX(-100%)}
to{transform:rotate(0) translateX(0)}
}
.fxCliffDivingOutNext{animation:rotateOutCircLeft .9s cubic-bezier(.7,0,.3,1)}
.fxCliffDivingInNext{animation:rotateInCircRight .9s cubic-bezier(.7,0,.3,1)}
.fxCliffDivingOutPrev{animation:rotateOutCircRight .9s cubic-bezier(.7,0,.3,1)}
.fxCliffDivingInPrev{animation:rotateInCircLeft .9s cubic-bezier(.7,0,.3,1)}
@media screen and (max-width:600px){
.fxCliffDiving .owl-item{transform-origin:50% 400%}
}

/*==========================================*/
/* FAQ css*/
/*==========================================*/
.faq_sec_pad{padding-top:50px;padding-bottom:50px}
.faq-box-cls{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #b1b1b1}
.panel-title{margin-bottom:0;text-decoration:none!important}
.panel-title a{text-decoration:none!important;color:#2876a9;font-size:21px;font-weight:500;line-height:24px;padding:0}
.panel-title a.collapsed{text-decoration:none!important;color:#212121;font-size:21px;font-weight:400;line-height:24px;padding:0}
.panel-title a span{padding:10px;margin-right:10px;background:linear-gradient(359deg,#03619a 0,#047dc7 100%);color:#fff;border-radius:50%;font-size:18px;font-weight:600}
.panel-title a.collapsed span{color:#fff;background:#000;font-weight:500}
.panel-title a:after{content:"-";float:right;font-size:30px;font-weight:300;position:absolute;right:25px;margin:0}
.panel-title a.collapsed:after{content:"+"}
.para-faq{padding:15px 0 0 0;font-size:16px;color:#212121}
.panel-title .btn-link:focus{box-shadow:none}
@media screen and (max-width:600px){
.panel-title a{width:300px;text-decoration:none!important;color:#2876a9;font-size:16px;font-weight:500;line-height:21px;padding:0}
.panel-title a.collapsed{text-decoration:none!important;color:#212121;font-size:16px;font-weight:500;line-height:21px;padding:0}
.para-faq{padding:10px 0 0 0;font-size:16px;color:#636363}
.faq-box-cls{padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #b1b1b1}
.panel-title a:after{content:"-";float:right;font-size:25px;font-weight:300;position:absolute;right:25px;margin:0}
.faq_sec_pad{padding-top:30px;padding-bottom:30px}
}

/*==========================================*/
/* Contact form css*/
/*==========================================*/
.select2-container{width:100%!important;height:35px!important;line-height:35px!important}
.select2-container .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__rendered{width:100%!important;height:35px!important;line-height:35px!important}
.error{color:red!important}
.btn-form{text-transform:uppercase;font-weight:700!important;font-size:1em;line-height:1em;background:#0073ad!important;color:#fff!important;border:none;padding:15px 30px 10px 30px;border-radius:30px!important;box-shadow:0 2px 5px rgb(0 0 0 / 30%)!important;transition:.5s;outline:0!important}
.form-widget .dblogo{margin:0 auto;display:block;margin-top:-50px;position:absolute;left:0;right:0}
.form-group label{display:block;overflow:auto;font-size:14px;font-weight:600;color:#212121}
.form-widget .card-body{border:none!important}
.form-widget .form-group{width:100%!important;display:block}
.contactFormHolder{position:absolute;right:90px;top:60px;width:300px;z-index:9}
.contactForm{min-height:100px;background:#fff;box-shadow:0 2px 5px rgba(0,0,0,.3);border-radius:0;padding:20px}
.formLogo{max-width:120px;margin:0 auto;margin-top:-40px;padding:2px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.3)}
.formLogo img{display:block;width:100%;height:auto;margin:auto auto;position:relative;z-index:1}
.contactForm h2{font-size:1.25em;line-height:1em;font-weight:700;font-style:normal;text-align:center;margin:0;padding:10px 0 15px 0}
.contactForm .form-control,.form-select{width:100%;outline:0;box-shadow:none;border-color:#a6a8ab;border-radius:0;font-size:14px;padding:5px 10px}
.contactForm .form-control:focus{border-color:#0073ad}
.contactForm select.form-control{background:#fff url(../../image/hairloss_images_v2/arrow-down.webp) no-repeat right 10px center;appearance:none}
.contactForm select.form-control::-ms-expand{display:none}
.contactForm .row{margin-bottom:1rem}
.contactForm .form-check-label{font-size:10px}
.contactForm .form-check-label a{color:#0e74af}
.contactForm .form-action{text-align:center;padding-top:15px}
.btn-primary{outline:0;border:none;font-weight:400;text-transform:uppercase;font-size:1em;line-height:1em;background:#0073ad!important;color:#fff!important;border:none;padding:15px 30px 10px 30px;border-radius:30px;box-shadow:0 2px 5px rgba(0,0,0,.3)!important;transition:.5s;outline:0!important}
.btn-primary:hover{background:#d5d0c9!important;color:#000!important}
@media (max-width:1600px){
.contactFormHolder{right:30px;top:30px;width:300px;z-index:9}
}
@media (max-width:1400px){
.contactFormHolder{right:20px;top:30px;width:300px;z-index:9}
}
@media (max-width:1024px){
.contactFormHolder{right:10px;top:30px;width:300px;z-index:9}
}
@media (max-width:992px){
.contactFormHolder{position:static;display:inline-block;right:auto;top:75px;width:100%;z-index:3;padding:30px 30px 30px 30px}
.contactForm{max-width:600px;margin:0 auto}
}
@media (max-width:767px){
.contactFormHolder{background-color:#fff}
.formLogo{display:none}
.contactForm h2{font-size:1.5em;padding-top:0}
.btn-primary{font-size:1em}
}
.form_head_text{font-size:21px;line-height:normal;font-weight:600;color:#0073ae}
.book_btn{width:100%;background:#0074ad;color:#fff;padding:5px 25px;font-weight:600;border-radius:0}


/*==========================================*/
/* side css*/
/*==========================================*/
.form-check-label{font-size:10px}
.open-btn-cls-new{background-color:#e70e24;color:#fff;font-size:20px;width:100%;text-decoration:none;padding:20px 0;height:60px;text-transform:uppercase;font-weight:600;font-size:16px;line-height:24px}
.open-button{background-color:#1b75ab;color:#fff;padding:10px 12px;border:none;cursor:pointer;position:fixed;bottom:18px;right:19px;width:250px;font-weight:500;font-size:16px;line-height:20px}
.chat-popup{width:320px;display:none;position:fixed;bottom:0;right:15px;z-index:9}
.form-container{background:#fff;box-shadow:0 2px 5px rgba(0,0,0,.3);border-radius:0;padding:20px}
.form-container .cancel{position:absolute;right:-14px;top:-22px;width:48px;height:48px;background-color:#212121;padding:16px;line-height:15px;border:none;cursor:pointer;margin-bottom:10px;border-radius:50%;box-shadow:0 2px 5px rgba(0,0,0,.3);opacity:.8}
.form-container .btn:hover,.open-button:hover{opacity:1}
@media (max-width:600px){
.open-button{height:60px;background-color:#1b75ab;color:#fff;padding:10px 20px;border:none;cursor:pointer;position:fixed;bottom:0;right:auto;left:0;width:50%;font-weight:600;line-height:18px}
.open-btn-cls-new:hover{font-weight:600;text-decoration:none;color:#fff}
.chat-popup{width:92%;display:none;position:fixed;bottom:0;left:15px;right:15px;z-index:9}
}


/*==========================================*/
/* Footer css*/
/*==========================================*/
.footer{background:#262626;color:#fff;font-size:13px;padding:20px 0;font-weight:500!important}
.copyright{font-weight:500}
.footerLink ul{padding:0;margin:0;list-style:none}
.footerLink ul li{display:inline}
.footerLink ul li a{display:inline-block;color:#fff;font-weight:500;padding:0 15px;position:relative}
.footerLink ul li a:hover{text-decoration:none}
.footerLink ul li a:after{content:'';height:100%;position:absolute;right:-5px;top:50%;width:5px;height:5px;display:inline-block;background:#fff;border-radius:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.footerLink ul li:last-child a:after{content:none;display:none}
.social-media a{padding:5px;margin:0 5px;font-weight:500}
@media screen and (max-width:600px){
.footer{background:#262626;color:#fff;font-size:13px;padding:10px 0;font-weight:500!important;margin-bottom:60px}
}




